<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>booksite</title>
</head>
<body>
    <div class="main">
        <h1>MY BOOKS</h1>
        <a href="/#" class="newBook">New</a>
        <hr>
        <div class="container">
            <div class="img"></div>
            <h2 class="title">The title goes here</h2>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur culpa iure architecto id obcaecati aspernatur nulla incidunt sapiente provident dolores a nesciunt quis numquam in tenetur unde veritatis, dolorem fuga!</p>
            <h3>Rating:</h3>
            <h3>Date:</h3>
            <form method="post">
                <button class="delete" formaction="/delete/:id">Delete</button>
                <button class="edit" formaction="/edit/:id">Edit</button>
            </form>
            <hr>
        </div>
    </div>
</body>
</html>